.Toolbar{
    height: 56px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}
.menuBtn{
    display: none;

}
.Logo{
    height: 80%
}
.btnLine{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: flex;
}
@media(max-width:499px ){
    .DesktopOnly{
        display:none
    }
    .menuBtn{
        display: block;
    }
}
